<tab>
    <tab-heading>
        <div class="tab_title">Детали</div>
        <div class="tab_description">Площадь, этаж, комнаты, тип, стоимость</div>
        <button class="button action tab_control">Заполнить</button>
    </tab-heading>
    <div class="tab_content">
        <div class="tab_close">&#10005;</div>

        <h2 class="title">Детали</h2>

        <div class="form">

            <label class="form-label">
                <div class="label-title">Этаж</div>
                <div class="label-item">
                    <input type="text" placeholder="Номер этажа">
                </div>
            </label>

            <label class="form-label">
                <div class="label-title">Площадь, м<sup>2</sup></div>
                <div class="label-item">
                    <input type="text" placeholder="Общая площадь помещения">
                </div>
            </label>

            <label class="form-label">
                <div class="label-title">Комнаты</div>
                <div class="label-item">
                    <input type="text" placeholder="Количество комнат">
                </div>
            </label>

            <label class="form-label">
                <div class="label-title">Тип недвижимости</div>
                <div class="label-item">
                    <select>
                        <option value="1">Новостройка</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </label>

            <label class="form-label">
                <div class="label-title">Категория строения</div>
                <div class="label-item">
                    <select>
                        <option value="1">Многоквартирный дом</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </label>

            <label class="form-label">
                <div class="label-title">Стоимость в рублях</div>
                <div class="label-item">
                    <input type="text" placeholder="Стоимость объекта">
                </div>
            </label>

            <label class="form-label">
                <div class="label-title">Коментарий</div>
                <div class="label-item">
                    <textarea placeholder="Описание в свободной форме"></textarea>
                </div>
            </label>

            <button class="button action action_next green large next">Сохранить и перейти дальше</button>
        </div>
    </div>
</tab>