<div class="row">
    <div class="medium-4 columns">
        <div class="bg-image"></div>
        <div class="login-info">
            <h2>Вход в личный профиль</h2>
            <div class="white-text">Личный аккаунт на сервисе Giglob позволяет вам:</div>
            <ul>
                <li>Создавать объявления о продаже или обмене недвижимости</li>
                <li>Участвовать в сделках как покупатель и как продавец</li>
                <li>Не беспокоиться о достоверности информации о недвижимости и пользователях</li>
            </ul>
            <div class="registration-link">Нет аккаунта? <a>Зарегистрируйтесь</a></div>
        </div>
    </div>
    <div class="medium-8 columns">
        <div class="forms">
            <div class="forms-header">Войти на сайт</div>
            <form>
                <div class="form-group">
                    <label>Электронная почта</label>
                    <input type="text" placeholder="Ваша почта" name="email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" placeholder="Ваш пароль" name="password" class="form-control"/>
                </div>
            </form>
            <button type="submit" class="button btn-success">Вход</button>
        </div>
    </div>
</div>