<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="WebUrl" value="http://giglob.igstest.ru" />
  </appSettings>
  <connectionStrings>
    <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="Default"
         connectionString="Data Source=.\SQLEXPRESS2012;Initial Catalog=giglob;Integrated Security=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
    <add xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" name="Elmah"
         connectionString="Data Source=.\SQLEXPRESS2012;Initial Catalog=giglob-api-elmah;Integrated Security=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <elmah>
    <security xdt:Transform="SetAttributes" allowRemoteAccess="true" />
    <errorLog xdt:Transform="InsertIfMissing" type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah" />
  </elmah>
</configuration>