<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="Default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=giglob;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <elmah>
    <security xdt:Transform="SetAttributes" allowRemoteAccess="true" />
    <errorLog xdt:Transform="Remove" />
  </elmah>
</configuration>