.flat-filter {
  padding: 25px 30px 25px;
  border-radius: 10px;
  background: #ffffff;
  .input-container {
    float: left;
    vertical-align: top;
    margin-right: 30px;
    .input-label {
      font-family: Lato;
      font-size: 10px;
      font-weight: 900;
      letter-spacing: 0.5px;
      color: #373737;
      text-transform: uppercase;
    }
  }
}