<div class="flat-filter clearfix">
    <div class="input-container room-count">
        <h6 class="input-label">Комнат</h6>
        <multiselect-list selected-items="selectedRoomCount" items="roomCount" ></multiselect-list>
    </div>
    <div class="input-container underground-name">
        <h6 class="input-label">Метро</h6>
        <multiselect-dropdown selected-items="selectedStations"></multiselect-dropdown>
    </div>
    <div class="input-container price">
        <h6 class="input-label">Стоимость, &#8381;</h6>
    </div>
</div>