<div>
    <div class="left-column clearfix" style="width: 673px;float: left;padding-right: 26px;">
        <div class="apartment-summary-wrapper" style="padding-bottom: 26px;">
            <div class="apartment-summary" style="height: 477px;background: #fff;border-radius: 8px;">

            </div>
        </div>
        <div class="apartment-description" style="width: 647px;height: 232px;border-radius: 8px;background: #fff;padding: 20px 30px 30px 30px;">
            {{testData.summary.description}}
        </div>
    </div>
    <div class="right-column clearfix" style="width: 673px;float: right;">
        <div style="width: 673px;height: 547px;padding-bottom: 26px;border-radius: 8px">
            <carousel images="testData.images"></carousel>
        </div>
        <div class="apartment-map-wrapper" style="height: 400px;border-radius: 8px">
            <ya-map ya-zoom="10" ya-center="[37.62,55.747]" ya-after-init="afterMapInit($target)" ya-controls>
                <ya-geo-object ya-source="testData.coords" ya-options="{preset: 'islands#circleIcon',iconColor: '#ff6f37'}"></ya-geo-object>
            </ya-map>
        </div>
    </div>
</div>