.choose-city{
  width:500px;
  height:330px;
  background-color: rgba(8, 199, 123, 0.9);
  positoin:relative;
  padding-left:100px;
  outline:none !important;
  .bg-image {
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .no-autocomplite{
    margin-top:105px;
    .modal-header{
      font-size:34px;
      line-height:36px;
      color:#fff;
      margin-bottom:55px;
    }
    .choose{
      display:inline-block;
      color:#fff;
      cursor:pointer;
      margin-left:40px;
      &:hover{
        text-decoration:underline;
      }
    }
  }
  .autocomplite{
    padding-right:100px;
    .white-text{
      font-size:14px;
      color:#fff;
    }
    .modal-header{
      margin-top:85px;
      font-size:14px;
      text-transform: uppercase;
      color:#fff;
      margin-bottom:50px;
    }
    .form-control{
      line-height:36px;
      font-size:25px;
      background-color: transparent;
      border:none;
      outline:none !important;
      box-shadow:none;
      border-bottom: solid 1px rgba(255, 255, 255, 0.54);
      color: #ffffff;
      padding-left:0;
    }
    ::-webkit-input-placeholder {
      color: #ffffff;
      opacity:0.65;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #ffffff;
      opacity:0.65;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      color: #ffffff;
      opacity:0.65;
    }
    :-ms-input-placeholder {
      color: #ffffff;
      opacity:0.65;
    }
    .f-dropdown{
      background: transparent;
      border:none;
      top:67px !important;
      li{
        font-size:25px;
        margin-top:20px;
        a{
          color:#fff;
          outline:none !important;
          padding-left:0;
          strong{
            font-weight:normal;
          }
        }
        &:hover{
          background:transparent;
        }
        &.active{
          opacity:1 !important;
        }
      }
      &:before,&:after{
        display:none;
      }
      &:hover{
        li{
          opacity:0.65;
        }
      }
    }
  }
}