<tab>
    <tab-heading>
        <div class="tab_title">Фотографии</div>
        <div class="tab_description">Настоящие фотографии объекта</div>
        <button class="button action tab_control">Заполнить</button>
    </tab-heading>

    <div class="tab_content">
        <div class="tab_close">&#10005;</div>

        <h2 class="title">Фотографии</h2>

        <div class="form">
            <div class="download">
                <div class="icon-add"></div>
                <div class="download-description">
                    <strong>Перетащите</strong> на это поле фотографии объекта, или <span class="add-control">выберите</span> их вручную
                </div>
            </div>
            <div class="download-info">
                Вы можете загрузить люьое количество файлов. Формат файлов: jps и png размером до 5 мегабайт каждый.
            </div>
        </div>

        <div class="download-list photo-list">
            <div class="download-list">
                <img scr>
                <div class="label photo-label">Обложка</div>
                <div class="download-item-delete"></div>
            </div>
            <div class="download-list">
                <img scr>
                <div class="label photo-label">Обложка</div>
                <div class="download-item-delete"></div>
            </div>
            <div class="download-list">
                <img scr>
                <div class="label photo-label">Обложка</div>
                <div class="download-item-delete"></div>
            </div>
            <div class="photo-list-item">
                <img scr>
                <div class="icon-add"></div>
                <div class="add-description">Добавить</div>
            </div>
        </div>

        <button class="button action action_next">Сохранить и перейти дальше</button>

    </div>
</tab>