.multiselect-dropdown {
  position: relative;
  .dropdown-filter {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
    width: 170px;
    height: 32px;
    &:focus {
      background: #fff;
      border: 1px solid #ccc;
    }
    &::-webkit-input-placeholder {
      font-size: 12px;
      color: #ddd;
    }
    &:-moz-placeholder {
      font-size: 12px;
      color: #ddd;
    }
    &::-moz-placeholder {
      font-size: 12px;
      color: #ddd;
    }
    &:-ms-input-placeholder {
      font-size: 12px;
      color: #ddd;
    }
  }
  .dropdown-list, .dropdown-selected-list {
    background: #fff;
    list-style: none;
    margin: 0;
    font-size: 13px;
    padding: 5px 0;
    .list-item {
      padding: 2px 5px;
      cursor: pointer;
      .mid-dot {
        font-size: 30px;
        line-height: 1px;
        vertical-align: middle;
      }
      .list-item-remove {
        visibility: hidden;
        color: #ccc;
        float: right;
      }
      &:hover {
        .list-item-remove {
          visibility: visible;
          color: #ccc;
        }
      }
    }
  }
  .dropdown-list {
    position: absolute;
    width: 100%;
    top: 29px;
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 100;
    .list-item {
      padding: 2px 10px;
      &:hover {
        background: #eee;
        cursor: pointer;
      }
    }
  }

}