<form class="form" novalidate name="changeForm">
    <label class="form-label">
        <div class="label-title">Город</div>
        <div class="label-item">
            <select name="city"
                    ng-options="option.name for option in data.cities track by option.id"
                    ng-model="$parent.model.city"
                    required></select>
        </div>

    </label>

    <label class="form-label">
        <div class="label-title">Район</div>
        <div class="label-item">
            <select name="district"
                    ng-options="option.name for option in data.districts track by option.id"
                    ng-model="$parent.model.district"
                    required></select>
        </div>

    </label>

    <label class="form-label">
        <div class="label-title">Площадь, м<sup>2</sup></div>
        <div class="label-item">
            <input type="text" ng-model="$parent.model.square" placeholder="Общая площадь помещения" required>
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Комнаты</div>
        <div class="label-item">
            <input type="text" ng-model="$parent.model.roomsCount" placeholder="Количество комнат" required>
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Стоимость, &#8381;</div>
        <div class="double-input">
            <input type="text" ng-model="$parent.model.minPrice" placeholder="От" required>
            <input type="text" ng-model="$parent.model.maxPrice" placeholder="До" required>
        </div>
    </label>

    <label class="form-label checkbox">
        <input type="checkbox"> После публикации перейти к добавлению объекта
    </label>

    <button class="button action action_next orange large finish" ng-disabled="!changeForm.$valid">Сохранить и опубликовать</button>
</form>