<div class="form">
    <label class="form-label">
        <div class="label-title">Город</div>
        <div class="label-item">
            <select>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>

    </label>

    <label class="form-label">
        <div class="label-title">Район</div>
        <div class="label-item">
            <select>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>

    </label>

    <label class="form-label">
        <div class="label-title">Площадь, м<sup>2</sup></div>
        <div class="label-item">
            <input type="text" placeholder="Общая площадь помещения">
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Комнаты</div>
        <div class="label-item">
            <input type="text" placeholder="Количество комнат">
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Площадь, м<sup>2</sup></div>
        <div class="label-item">
            <input type="text" placeholder="Общая площадь помещения">
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Стоимость, &#8381;</div>
        <div class="double-input">
            <input type="text" placeholder="От">
            <input type="text" placeholder="До">
        </div>
    </label>

    <label class="form-label checkbox">
        <input type="checkbox"> После публикации перейти к добавлению объекта
    </label>

    <button class="button action action_next orange large finish">Сохранить и опубликовать</button>
</div>