<form class="form" novalidate name="detailsForm">

    <label class="form-label">
        <div class="label-title">Этаж</div>
        <div class="label-item">
            <input type="text" ng-model="$parent.model.floor" ng-pattern="'\\d*'" ng-maxlength="3" placeholder="Номер этажа" required>
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Площадь, м<sup>2</sup></div>
        <div class="label-item">
            <input type="text" ng-model="$parent.model.area" ng-pattern="'\\d*'" ng-maxlength="4"  placeholder="Общая площадь помещения" required>
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Комнаты</div>
        <div class="label-item">
            <input type="text" ng-model="$parent.model.roomsCount" ng-pattern="'\\d*'" ng-maxlength="2"  placeholder="Количество комнат" required>
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Тип недвижимости</div>
        <div class="label-item">
            <div class="select-wrapper">
            <select name="realEstateType"
                    ng-options="option.name for option in data.realEstateTypes track by option.id"
                    ng-model="$parent.model.realEstateType"
                    required></select>
            </div>
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Категория строения</div>
        <div class="label-item">
            <div class="select-wrapper">
                <select name="buildCategory"
                        ng-options="option.name for option in data.buildCategories track by option.id"
                        ng-model="$parent.model.buildCategory"
                        required></select>
            </div>
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Стоимость в рублях</div>
        <div class="label-item">
            <input type="text" ng-model="$parent.model.price" ng-pattern="'\\d*'" ng-maxlength="12"  placeholder="Стоимость объекта" required>
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Коментарий</div>
        <div class="label-item">
            <textarea placeholder="Описание в свободной форме" ng-model="$parent.model.comment" required></textarea>
        </div>
    </label>

    <button class="button action action_next green large next" ng-disabled="!detailsForm.$valid"  ng-click="saveAndGoTo(currentTab, tabCollectionType)">Сохранить и перейти дальше</button>
</form>