<div class="form">
    <div class="download">
        <div class="icon-add"></div>
        <div class="download-description">
            <strong>Перетащите</strong> на это поле документы, или <span class="add-control">выберите</span> их вручную
        </div>
    </div>

    <div class="label-warn">
        Вам необходимо загрузить <strong>свидетельство о собственности
        и кадастровый номер</strong>. Документы нужны для модерации и будут просмотрены только модератором
    </div>

    <div class="download-info">
        Вы можете загрузить любое количество файлов. Формат файлов: doc, docx, pages и pdf размером до 5 мегабайт каждый.
    </div>
</div>

<div class="download-list doc-list">
    <div class="download-list-item">
        <img scr>
        <div class="label photo-label">Обложка</div>
        <div class="download-item-delete"></div>
    </div>

    <div class="download-list-item">
        <img scr>
        <div class="icon-add"></div>
        <div class="add-description">Добавить</div>
    </div>
</div>

<button class="button action action_next green large next">Сохранить и перейти дальше</button>