<form novalidate class="form" name="locationForm">
    <label class="form-label">
        <div class="label-title">Город</div>
        <div class="label-item">
            <div class="select-wrapper">
                <select name="city"
                        ng-change="$parent.selectCity()"
                        ng-options="option.name for option in data.cities track by option.id"
                        ng-model="$parent.model.city"
                        required></select>
            </div>
        </div>
    </label>
    <label class="form-label">
        <div class="label-title">Улица</div>
        <div class="label-item">
            <input type="text" ng-model="$parent.model.street" required>
        </div>
    </label>
    <div class="triple-input">
        <label class="form-label">
            <div class="label-title">Дом</div>
            <div class="label-item">
                <input type="text" ng-model="$parent.model.build" required>
            </div>
        </label>
        <label class="form-label">
            <div class="label-title">Корпус</div>
            <div class="label-item">
                <input type="text" ng-model="$parent.model.housing">
            </div>
        </label>
        <label class="form-label">
            <div class="label-title">Квартира</div>
            <div class="label-item">
                <input type="text" ng-model="$parent.model.flat">
            </div>
        </label>
    </div>
    <label class="form-label" ng-if="data.districts.length">
        <div class="label-title">Район</div>
        <div class="label-item">
            <div class="select-wrapper">
                <select name="district"
                        ng-options="option.name for option in data.districts track by option.id"
                        ng-model="$parent.model.district"
                        required></select>
            </div>
        </div>
    </label>
    <!--TODO: изменить апи так, чтобы город знал есть ли в нем метро-->
    <label class="form-label" ng-if="data.districts.length">
        <div class="label-title">Метро</div>
        <div class="label-item">
            <metro-station-multiselect city-id="$parent.model.city.id"
                                    selected-items="$parent.model.selectedStations"
                                    class="add-station"></metro-station-multiselect>
        </div>
    </label>
    <button class="button action action_next green large next" ng-disabled="!locationForm.$valid"
            ng-click="saveAndGoTo(currentTab, tabCollectionType)">Сохранить и перейти дальше
    </button>
</form>