﻿<form name="photoForm">
    <div class="download-list file-list">
        <div class="download-list-file-wrapper" ng-repeat="file in uploadedFiles track by $index"
             ng-click="setCover($index)">
            <img ngf-src="file">

            <div class="label file-label-cover" ng-class="{active: file.isCover}">Обложка</div>
            <div title="Удалить" class="file-label-remove" ng-click="removeFile($index);"></div>
        </div>

        <div class="download-list-uploader"
             ng-class="{added: isAdded}"
             ngf-accept="'image/png,image/jpeg'"
             ngf-drop="uploadFiles($files)"
             ngf-select="uploadFiles($files)"
             ngf-model-invalid="invalidFiles"
             ngf-validate="{size: {max: '10MB'}, pattern: '.jpeg,.jpg,.png', totalSize: {max: '200MB'}}"
             ngf-max-files="20"
             multiple="true">
            <div class="download-list-uploader-text">
                <div class="download-description">
                    <strong>Перетащите</strong> на это поле фотографии объекта, или <span
                        class="add-control">выберите</span> их вручную
                </div>
                <span class="add-text">Добавить</span>
            </div>
        </div>
        <div>
            <div class="download-error" ng-repeat="file in invalidFiles"> <b>Ошибка</b>: файл '{{file.name}}'.
                <div if="file.$errorParam.maxSize"> - Максимальный размер не должен превышать 10MB. </div>
                <div if="file.$errorParam.pattern"> - Неподдерживаемый формат('.jpeg,.jpg,.png') </div>
            </div>
        </div>
        <div class="download-info">
            Вы можете загрузить любое количество файлов. Формат файлов: jpg и png размером до 10 мегабайт каждый.
        </div>
    </div>
</form>


<button class="button action action_next green large next" ng-click="saveAndGoTo(currentTab, tabCollectionType)"
        ng-disabled="!uploadedFiles.length">Сохранить и перейти дальше
</button>