<div class="form">
    <div class="download">
        <div class="icon-add"></div>
        <div class="download-description">
            <strong>Перетащите</strong> на это поле фотографии объекта, или <span class="add-control">выберите</span> их вручную
        </div>
    </div>
    <div class="download-info">
        Вы можете загрузить люьое количество файлов. Формат файлов: jpg и png размером до 5 мегабайт каждый.
    </div>
</div>

<div class="download-list photo-list">
    <div class="download-list-image-wrapper" ng-repeat="file in uploadedFiles">
        <img ngf-src="file[0]">
    </div>
    <div class="download-list-uploader"
         ngf-drop="uploadFiles($files)"
         ngf-select="uploadFiles($files)"
         ngf-pattern="'.jpg,.png'"
         ngf-max-total-size="5MB">
        <div class="download-list-uploader-text">Добавить</div>
    </div>
</div>

<button class="button action action_next green large next">Сохранить и перейти дальше</button>