<form class="form" novalidate name="changeForm">
    <label class="form-label">
        <div class="label-title">Город</div>
        <div class="label-item">
            <select name="city"
                    ng-change="$parent.selectCity()"
                    ng-options="option.name for option in data.cities track by option.id"
                    ng-model="$parent.model.city"
                    required></select>
        </div>

    </label>

    <label class="form-label" ng-if="data.districts.length">
        <div class="label-title">Район</div>
        <div class="label-item">
            <select name="district"
                    ng-options="option.name for option in data.districts track by option.id"
                    ng-model="$parent.model.district"
                    required></select>
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Площадь, м<sup>2</sup></div>
        <div class="label-item">
            <input type="text" ng-model="$parent.model.square" ng-pattern="'\\d*'" ng-maxlength="4" placeholder="Общая площадь помещения" required>
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Комнаты</div>
        <div class="label-item">
            <input type="text" ng-model="$parent.model.roomsCount" ng-pattern="'\\d*'" ng-maxlength="2" placeholder="Количество комнат" required>
        </div>
    </label>

    <label class="form-label">
        <div class="label-title">Стоимость, &#8381;</div>
        <div class="double-input">
            <input type="text" ng-model="$parent.model.minPrice" strict-price-input placeholder="От" required>
            <input type="text" ng-model="$parent.model.maxPrice" strict-price-input placeholder="До" required>
        </div>
    </label>

    <div class="form-label checkbox-container">
`        <input style="vertical-align: middle" type="checkbox" class="checkbox" id="confirm">
        <label style="width: 80%" for="confirm">После публикации перейти к добавлению объекта</label>
    </div>

    <button class="button action action_next orange large finish" ng-disabled="!changeForm.$valid" ng-click="sendData(1)">Сохранить и опубликовать</button>
</form>
