.multiselect-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  border: solid 1px #e1e1e1;
  list-style: none;
  .list-item {
    float: left;
    cursor: pointer;
  }
}