.multiselect-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  list-style: none;
  .list-item {
    float: left;
    padding: 9px 0;
    width: 30px;
    cursor: pointer;
    font-family: Lato;
    font-size: 12px;
    line-height: 12px;
    font-weight: 900;
    text-align: center;
    color: #00b06d;
    border-right: 1px solid #e1e1e1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right: none;
    }
    &.selected {
      color: #ffffff;
      background-color: #09c77b;
    }
  }
}