<div class="clearfix add-page">
    <div class="left-column clearfix">
        <header>
            <h1>Добавление объекта</h1>

            <ul class="type-switcher">
                <li class="active">Продажа</li>
                <li>Обмен</li>
            </ul>
        </header>

        <tabset class="add_tabs" vertical="true" type="navType" open-on-load="false">
            <add-location></add-location>
            <tab>
                <tab-heading>
                    <div class="tab_title">Детали</div>
                    <div class="tab_description">Площадь, этаж, комнаты, тип, стоимость</div>
                    <button class="button action tab_control">Заполнить</button>
                </tab-heading>
                Vertical content 2
            </tab>
            <tab>
                <tab-heading>
                    <div class="tab_title">Фотографии</div>
                    <div class="tab_description">Настоящие фотографии объекта</div>
                    <button class="button action tab_control">Заполнить</button>
                </tab-heading>
                Vertical content 3
            </tab>
            <tab>
                <tab-heading>
                    <div class="tab_title">Документы</div>
                    <div class="tab_description">Свидетельство о собственности, <br>кадастровый номер</div>
                    <button class="button action tab_control">Заполнить</button>
                </tab-heading>
                Vertical content 4
            </tab>
        </tabset>
    </div>
</div>