<div class="clearfix add-page">
    <div class="left-column clearfix">
        <header>
            <h1>Добавление объекта</h1>
        </header>

        <tabset class="type-switcher">
            <tab heading="Продажа">
                <tabset class="add_tabs" vertical="true" type="navType" open-on-load="false">
                    <add-location></add-location>
                    <add-details></add-details>
                    <add-photos></add-photos>
                    <add-docs></add-docs>
                </tabset>
            </tab>
            <tab heading="Обмен">
                <tabset class="add_tabs" vertical="true" type="navType" open-on-load="false">
                    <add-location></add-location>
                    <add-details></add-details>
                    <add-photos></add-photos>
                    <add-docs></add-docs>
                    <add-change></add-change>
                </tabset>
            </tab>
        </tabset>
    </div>
</div>