<div class="my-flats">
    <a class="flat-card" ui-sref="apartment-detail({id: flat.id})" ng-repeat="flat in myOffers track by flat.id" ng-class="">
        <div class="card_image">
            <img ng-src="{{flat.photoUrls[0]}}" alt="">
        </div>
        <div class="card_description">
            <div class="card-title"  ui-sref="apartment-detail/:id">{{flat.roomCount}}-комнатная на ул. {{flat.streetName}}</div>
            <div class="card-info">
                <span ng-if="flat.nearMetroStationModel"><span class="metro-label" ng-style="{'background-color': '#'+flat.nearMetroStationModel.hexColor}"></span> {{flat.nearMetroStationModel.name}},</span>
                {{flat.areaSize}} м<sup>2</sup>, {{flat.level}} этаж
            </div>
            <div class="card-price">{{flat.cost | currency : '₽' : ' '}}</div>
        </div>
    </a>

    <div class="add_flat_ctrl" ui-sref="add-ads">
        <div class="title">Добавить объектЪ</div>
    </div>
</div>