<div class="search-page clearfix">
    <div class="left-column column">
        <flat-filter class="flat_filter" all-flats="flats" filtered-flats="filteredFlats" keep-on-scroll></flat-filter>

        <div class="offers">
            <div class="title">
                <span class="count">{{filteredFlats.length}}</span> предложений
            </div>
            <div class="offers_list clearfix">

                <a class="flat-card" ui-sref="apartment-detail({id: flat.id})" ng-repeat="flat in filteredFlats | limitTo:pagination track by flat.id  " ng-class="{active: flat.highlighted}" ng-mouseenter="setHighlighting(flat.id, true)" ng-mouseleave="setHighlighting(flat.id, false)">
                    <div class="card_image">
                        <img ng-src="{{flat.images[0].src}}" alt="">
                    </div>
                    <div class="card_description">
                        <div class="card-title"  ui-sref="apartment-detail/:id">{{flat.roomCount}}-комнатная на ул. {{flat.streetName}}</div>
                        <div class="card-info">
                            <span ng-show="flat.nearMetroStationModel">
                                <span class="metro-label" ng-style="{'background-color': '#'+flat.nearMetroStationModel.hexColor}"></span>
                                {{flat.nearMetroStationModel.name}},
                            </span>
                            {{flat.areaSize}} м<sup>2</sup>, {{flat.level}} этаж
                        </div>
                        <div class="card-price">{{flat.cost | currency : '₽' : ' '}}</div>
                    </div>
                    <span class="card_control_more" ui-sref="apartment-detail/:id">Подробнее</span>
                </a>
            </div>
        </div>
    </div>
    <div class="right-column column" ng-if="_city">
        <div class="search-map" keep-on-scroll set-height>
            <ya-map ya-zoom="10"
                    ya-center="{{_city}}" ya-controls
                    ya-after-init="mapInit($target)"
                    ya-event-boundschange="mapChange($event)">
                <ya-geo-object ng-repeat="flat in flats track by flat.id" ya-source="flat.coords"
                               ya-show-all="true"
                               ya-options="{
                               iconLayout: 'default#image',
                               iconImageHref: '../content/images/map-icon-small.svg',
                               iconImageSize: [30, 30],
                               iconImageOffset: [0, 0]
                               }"
                               ya-event-mouseenter="setHighlighting(flat.id, true, $event)"
                               ya-event-mouseleave="setHighlighting(flat.id, false, $event)"
                               ya-after-init="addMarkerToMapping(flat.id, $target)">
                </ya-geo-object>
            </ya-map>
        </div>
    </div>
</div>