.button {
  outline: none !important;
  &.round {
    padding: 10px 25px;
    font-size: 14px;
  }
  &.alert {
    background-color: #ff6f37;
  }
  &.btn-success{
    margin-bottom:0;
    background-color: #09c77b;
    padding-top:10px;
    padding-bottom:15px;
    width:100%;
    text-align:center;
    border-radius:3px;
    &:hover{
      background-color: #15a36b;
    }
    &[disabled]{
      opacity:0.35;
      background-color: #09c77b;
      cursor:default;
    }
  }
}