* {
  box-sizing: border-box;
}
html, body {
  min-height: 100%;
}
html, body, .button {
  font-family: 'Lato', Helvetica, sans-serif !important;
}

.app-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  min-height:100%;
}
.main-content{
  padding: 120px 40px 100px 40px;
  min-height: 100%;
  background-color: #d3dde2;
}