html, body, .button, h1, h2, h3, h4 {
  font-family: 'Lato', Helvetica, sans-serif !important;
}

.app-wrapper {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  min-height:100%;
}
.main-content{
  padding: 40px 40px 40px 40px;
  background-color: #ecf1f4;
  position: relative;
}

.flat-card {
  display: block;
  text-decoration: none;
  width: 323px;
  height: 328px;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;

  .card_image {
    width: 100%;
    height: 207px;
    margin-bottom: 20px;
    overflow: hidden;

    img {}
  }

  .card_description {

    .card-title {
      display: block;
      text-decoration: none;
      font-size: 16px;
      line-height: 1.1;
      color: #181818;
      margin-bottom: 5px;
      padding: 0 19px;
    }

    .card-info {
      font-size: 13px;
      font-weight: 600;
      color: #999;
      padding: 0 19px;

    }

    .card-price {
      font-size: 14px;
      color: #181818;
      position: absolute;
      bottom: 15px;
      left: 19px;
    }
  }

  .card_control_more {
    display: block;
    z-index: 100;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ff6f37;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    vertical-align: middle;
    display: none;

    &:hover {
      background-color: #d74e19;
    }
    &:active {
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    }
  }

  &:hover,
  &.active {
    cursor: pointer;

    .card_control_more {
      display: block;
    }//ff6f37
    .card-title {
      color: #ff6f37;
    }
  }
}// .flat-card

// double input
input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  box-shadow: none;
}
.double-input {
  width: 255px;
  overflow: hidden;

  input{
    color: #000;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
    width: 127px;
    height: 32px;
    float: left;
    &::-webkit-input-placeholder {color:#ddd; font-size: 12px;}
    &::-moz-placeholder          {color:#ddd; font-size: 12px;}
    &:-ms-input-placeholder      {color:#ddd; font-size: 12px;}
  }

  .first{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .second{
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
// /double input