<tab class="tab-section" active="currentTab.active" disabled="currentTab.disabled">
    <tab-heading>
        <div class="tab_title">{{::currentTab.tabTitle}}</div>
        <div class="tab_description" ng-bind-html="::currentTab.tabDescription"></div>
        <button class="button action tab_control">Заполнить</button>
    </tab-heading>

    <div class="tab_content">
        <div class="tab_close" ng-click="currentTab.active = false;">&#10005;</div>

        <h2 class="title">{{::currentTab.tabTitle}}</h2>
        <div ng-include="'app/component/tab-section/templates/' + currentTab.tabType + '.html'"></div>
    </div>

</tab>
