.tabs-content {

  .add-page .add_tabs .tabs dd.disabled a .tab_control {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px #d4dee4;
    color: #6d8493;
  }

  .form {
    input, select {
      &.ng-invalid.ng-dirty {
        border-color: red;
      }
    }
  }
  .download-list {
    padding: 20px 0;
    .file-list {
      width: 305px;
    }
    .download-list-file-wrapper {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 10px;
      width: 143px;
      height: 143px;
      border-radius: 3px;
      overflow: hidden;
      &:nth-child(odd) {
        margin-right: 10px;
      }
      &:hover {
        cursor: pointer;
      }
      &.doc {
        border: solid 1px #d4dee4;
        padding: 15px;
      }
      img {
        height: 100%;
        width: auto;
        min-width: 100%;
        max-width: inherit;
      }
      .file-label-cover {
        visibility: hidden;
        height: 20px;
        border-radius: 3px;
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 11px;
        font-weight: 900;
        letter-spacing: 0.5px;
        background-color: #0991c7;

        &.active {
          visibility: visible;
        }
      }

      &:hover {
        .file-label-cover {
          background-color: rgba(8, 145, 199, 0.23);

          &:hover {
            background-color: rgba(8, 145, 199, 0.64);
          }
        }
      }

      .file-label-name {
        padding-top: 25px;
        word-wrap: break-word;
        font-weight: 500;
        text-align: center;
        color: #6d8493;
        line-height: 20px;
      }
      .file-label-format {
        border-radius: 3px;
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 10px;
        font-weight: 900;
        letter-spacing: 0.5px;
        &.pdf {
          background: #f19898;
        }
        &.doc {
          background: #98d0f1;
        }
      }
      .file-label-remove {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        top: 7px;
        right: 7px;
        opacity: 0.2;
        background: #000 url('../../../content/images/delete-doc.svg') no-repeat center center;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 0.35;
        }
      }
    }
    .download-list-uploader {
      position: relative;

      &.added {
        width: 143px;
        height: 143px;

        & ~ .download-info {
          display: none;
        }

        .download-description {
          display: none;
        }

        .add-text {
          display: block;
        }
      }

      .download-description {
        font-weight: normal;
        position: absolute;
        bottom: 88px;
        padding: 0 15px;
      }

      .add-control {
        font-weight: bold;
        text-decoration: underline;
      }

      .add-text {
        display: none;
      }

      display: inline-block;
      width: 296px;
      height: 300px;
      background: url('../../../images/plus-icon.svg') no-repeat 50% 40%;
      border-radius: 5px;
      border: solid 1px #d4dee4;
      cursor: pointer;
      &.dragover {
        background-color: #ecf1f4;
      }
      .download-list-uploader-text {
        font-size: 14px;
        font-weight: 900;
        text-align: center;
        color: #6d8493;
        padding-top: 102px;
      }
    }
  }

  .label-warn {
    border-radius: 5px;
    padding: 15px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.31;
    color: #536a7a;
    margin: 10px 0;
    background: #f6ece1;

    .title {
      font-weight: 600;
      color: #ff0000;
      margin-bottom: 10px;
    }

    &.info {
      padding-left: 60px;
      background: #f6ece1 url('../../../content/images/i-icon.svg') no-repeat 10px 15px;
    }
  }

  .checkbox-container {
    margin: 30px 0;
  }
}