.tabs-content {
  .download-list {
    padding: 20px 0;
    .download-list-image-wrapper {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 5px;
      width: 143px;
      height: 143px;
      &:nth-child(odd) {
        margin-right: 5px;
      }
      &:hover {
        cursor: pointer;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
      .photo-label-cover {
        display: none;
        width: 80px;
        height: 20px;
        border-radius: 3px;
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 11px;
        font-weight: 900;
        letter-spacing: 0.5px;
        &.active {
          display: block;
        }
      }
    }
    .download-list-uploader {
      display: inline-block;
      width: 143px;
      height: 143px;
      background: url('../../../content/images/plus-icon.svg') no-repeat 50% 40%;
      border-radius: 5px;
      border: solid 1px #d4dee4;
      cursor: pointer;
      .download-list-uploader-text {
        font-size: 14px;
        font-weight: 900;
        text-align: center;
        color: #6d8493;
        padding-top: 102px;
      }
    }
  }
}