<footer class="gfooter clearfix">
  <div class="logo-section-wrapper" style="float: left;">
    <span class="logo-white-wrapper">
      <a href="/#">
        <img src="../content/images/logo-white.svg" class="logo-white"/>
      </a>
    </span>
    <span class="logo-text">Решение квартирного вопроса</span>
  </div>

  <span class="is-logo-wrapper">
    <a href="http://igsystems.ru/" target="_blank">
      <img src="../content/images/ingenius-logo.png" class="is-logo">
    </a>
  </span>
</footer>