<header class="gheader">
  <img ui-sref="home" src="app/theme/img/logo-green.svg" class="logo-green"/>
  <div class="grey text">Решение квартирного вопроса</div>
  <nav>
    <a ui-sref="search" ui-sref-active="active" class="menu-item">Поиск квартир</a>
    <a ui-sref="my-ads" ui-sref-active="active" class="menu-item">Мои объекты</a>
  </nav>
  <button type="button" class="button round alert">Продать квартиру</button>
  <div class="black text" ng-click="login()">Войти в профиль</div>
  <div class="user-logo"></div>
</header>