$line: 40px;
.gheader {
  height: 80px;
  background-color: white;
  padding: 20px 30px;
  .logo-green {
    height: 100%;
    margin-right: 20px;
    vertical-align: top;
    &:hover {
      cursor: pointer;
    }
  }
  .user-logo {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #edfaf7;
    width: 80px;
    height: 80px;
    padding: 27px;
  }
  .grey {
    color: #aeaeae;
    margin-right: 95px;
  }
  .black {
    color: #000;
<<<<<<< HEAD
    cursor: pointer;
=======
    font-weight: 700;
>>>>>>> dev
  }
  .text {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    line-height: $line;
  }
  nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    margin-right: 250px;
    height: 100%;
    .menu-item {
      display: inline-block;
      color: #373737;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 50px;
      padding-bottom: 26px;
      cursor: pointer;
      &.active {
        border-bottom: 2px solid #09c77b
      }
    }
  }
  .button {
    vertical-align: middle;
    margin-bottom: 35px;
    margin-right: 45px;
  }
}