<header class="gheader">
  <img ui-sref="home" src="../Content/Images/logo-green.svg" class="logo-green"/>
  <div class="grey text">Решение квартирного вопроса</div>
  <nav>
    <a ui-sref="/" ui-sref-active="active" class="menu-item">Поиск квартир</a>
    <a ui-sref="my-ads" ui-sref-active="active" class="menu-item">Мои объекты</a>
  </nav>
  <button  ui-sref="add" type="button" class="button round alert">Продать квартиру</button>
  <div class="black text">Войти в профиль</div>
  <div class="user-logo">
    <img src="../content/images/user-logo.svg">
  </div>
</header>