.gheader {
  height: 80px;
  background-color: white;
  position: absolute;
  top: 0;
  lefT: 0;
  right: 0;
  padding: 20px 30px;
}

.gheader .logo-green {
  height: 100%;
}

.gheader .user-logo {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #edfaf7;
  width: 80px;
}

.gheader .grey-text {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  color: #aeaeae;
  line-height: 40px;
  margin-right: 95px;
}

.gheader nav {
  display: inline-block;
  vertical-align: top;
  margin-top: -18px;
  margin-right: 250px;
}

.gheader nav .menu-item {
  display: inline-block;
  line-height: 78px;
  color: #373737;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 50px;
  cursor: pointer;
}

.gheader nav .menu-item.active {
  border-bottom: 2px solid #09c77b;
}
