.gheader {
  height: 80px;
  background-color: white;
  padding: 30px;
  .logo-green{
    height: 100%;
  }
  .user-logo{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #edfaf7;
    width: 80px;
  }
}