header {
  position: absolute;
  top: 0;
  lefT: 0;
  right: 0;
  height: 80px;
  background-color: white;
  padding: 30px;
}

header .logo-green {
  height: 100%;
}

header .user-logo {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #edfaf7;
  width: 80px;
}
