.search_page {
  .left_column {
    width: 733px;
    margin-left: -7px;
    margin-right: 27px;
    padding: 0;

  }

  .flat_filter {
    width: 100%;
    height: 104px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 15px;
  }

}